.widget_categories select,
.widget_archive select,
.widget_search select,
.widget_tag_cloud select,
.widget_recent_comments select, select {
	width: 100%;
	padding: 15px 26px 14px;
	font-size: 1rem;
	text-transform: none;
	appearance: none;
}
