.tagcloud {
	a {
		display: inline-block;
		font-size: .625rem !important;
		text-transform: uppercase;
		font-weight: bold;
		letter-spacing: .9px;
		line-height: 22px;
		margin: 0 5px 5px 0;
		padding: 2px 13px;
		vertical-align: top;
		text-decoration: none;
		border: 2px solid;
	}
}
