.tm_pb_builder #tm_builder_outer_content .tm_pb_slides {
	.tm_pb_slide_description {
		.post-meta {
			letter-spacing: 2px;
			margin-bottom: 30px;
		}

		.tm_pb_more_button {
			margin-top: 30px;
		}
	}
}
