#tm_builder_outer_content {
	.tm_pb_team_member.tm_pb_module {
		.tm_pb_team_member_image {
			padding-bottom: 8px;
		}
		.tm_pb_team_member_name {}
		.tm_pb_member_position {
			font-size: 0.625rem;
			text-transform: uppercase;
			font-weight: bold;
			letter-spacing: 1.2px;
			opacity: .3;
			padding-bottom: 16px;
		}
		.tm_pb_member_social_links {}
	}
}
